@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Eudoxus";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url("../_assets/EudoxusSans-ExtraLight-BF659b6cb1e7092.ttf");
}

@font-face {
  font-family: "Eudoxus";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url("../_assets/EudoxusSans-Light-BF659b6cb2036b5.ttf");
}

@font-face {
  font-family: "Eudoxus";
  src: url("../_assets/EudoxusSans-Medium.ttf");
}

@font-face {
  font-family: "Eudoxus";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("../_assets/EudoxusSans-Bold-BF659b6cb1408e5.ttf");
}

@font-face {
  font-family: "Eudoxus";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("../_assets/EudoxusSans-ExtraBold-BF659b6cb1b96c9.ttf");
}

@font-face {
  font-family: "Geist";
  src: url("../_assets/GeistMono-Regular.otf")
}

@font-face {
  font-family: "JetBrains";
  src: url("../_assets/JetBrainsMonoNL-Bold.ttf")
}

@layer utilities {

  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
}

:root {
  height: '100%';
}
